{% extends 'BaseBundle:Layout:base.html.twig' %}

{% block content %}

    <h1>Community</h1>

    {{ pagerfanta(activity, 'twitter_bootstrap3') }}

{% endblock %}

{% block sidebar %}

{% endblock %}