<div class="widget">
    <h4>Stay Up To Date</h4>
    Get the latest documentaries sent straight to your inbox.
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=DocumentaryWire', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <input class="feedburner-box" name="email" placeholder="Your email address..." type="text">
        <input value="DocumentaryWire" name="uri" type="hidden"><input name="loc" value="en_US" type="hidden">
        <input value="Subscribe" type="submit">
    </form>
</div>